.Calendario p {
	top: 110px;
	left: 518px;
	
	width: 404px;
	height: 57px;
	position: absolute;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 48px;
	text-align: center;

	color: #000000;
}

.Calendario_Img img {
	position: absolute;
	width: 1209px;
	height: 604px;
	left: 116px;
	top: 210px;
}