@import url('https://fonts.googleapis.com/css?family=Roboto');

h1, p{
    font-family: 'Roboto', sans-serif;
}

div.main {
    text-align:justify; 
    padding-top: 1em;
}

div.main > p {
    font-size: 1.1rem;
    line-height: normal;
    content: "\a ";
    white-space: pre-line;
}