* { background-repeat: no-repeat; background-attachment: scroll;  }

/* FOTO DE LA FACULTAD */
img { 
  position: relative;
  z-index: -2;

  height: 100%;
  width: 100%;
}

.building {
	background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
}

/* MISION */
.mision {
	border-right: 1px solid grey;
	height: 250px;
	width: 375px;
	
	text-align: justify;
	font-size: 16px;
	
	padding-top: 1%;
	padding-left: 3.5%;
	padding-right: 3.5%;

	margin-top: 3%;
	margin-bottom: 2%;
	margin-left: 13%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 13px;
	text-align: justify;

}
.mision h3 {
	text-align: center;
	font-weight: bold;
	font-size: 24px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 20px;
	text-align: center;
}

/* OFERTAS EDUCATIVAS */
.OfertasEducativas {
	width: 40.5%;
	height: 23%;

	position: absolute;
	margin-top: -16%;
	margin-left: 41.5%;
}
.OfertasEducativas p {
	top: 0px;
	left: 0%;
	right: 0%;
	
	height: 34px;
	position: absolute;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 20px;
	text-align: center;

	color: #000000;
}

/* INGENIERIA EN SOFTWARE */
.Ingenieria_Software {
	top: 47px;
	left: 0px;
	
	width: 130px;
	height: 138px;
	position: absolute;

	border-radius: 2px;
	background: #FFFFFF;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}
.Ingenieria_Software p {
	position: absolute;
	
	width: 98px;
	left: 16px;
	top: 89px;
	bottom: 16px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;

	color: rgba(0, 0, 0, 0.87);
}

/* INGENIERIA EN TELEMATICA */
.Ingenieria_Telematica {
	top: 47px;
	left: 160px;
	right: 323px;

	width: 130px;
	height: 138px;
	position: absolute;

	border-radius: 2px;
	background: #FFFFFF;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}
.Ingenieria_Telematica p {
	position: absolute;
	width: 98px;
	left: 16px;
	top: 89px;
	bottom: 16px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;

	color: rgba(0, 0, 0, 0.87);
}

/* MAESTRIA */
.Maestria {
	top: 47px;
	left: 323px;
	right: 170px;
	
	width: 130px;
	height: 138px;
	position: absolute;

	border-radius: 2px;
	background: #FFFFFF;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}
.Maestria p {
	position: absolute;
	width: 98px;
	left: 16px;
	top: 97px;
	bottom: 24px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;

	color: rgba(0, 0, 0, 0.87);
}

/* TRAMITES */
.Tramites {
	top: 47px;
	left: 477px;
	right: 16px;
	
	width: 130px;
	height: 138px;
	position: absolute;

	border-radius: 2px;
	background: #FFFFFF;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}
.Tramites p {
	position: absolute;
	width: 98px;
	left: 16px;
	top: 97px;
	bottom: 24px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;

	color: rgba(0, 0, 0, 0.87);
}

/* SECCION MULTIMEDIA: VIDEO; */
iframe {
	width: 1150px;
	height: 580px;
	margin: auto;
}
