.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
}

@media only screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr; 
    }
}

.subtitle{
    font-weight: bold;
}

.boton:hover{
    background-color:#eeeeee;
}

.boton:active {
    top: 3px;
}

a {
    color: inherit;
    text-decoration: inherit;
}