@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {
    font-family: 'Roboto', sans-serif;
}

.collapsible-header{
    display: block;
    font-weight: 500;
}

.collapsible-header a {
    display: block;
    color: inherit;
}

.nav-wrapper .brand-logo {
    padding-left: 0px;
    font-size: 20px;
    margin-left: 24px;
}

ul#links {
    margin-right: 24px;
}

footer .container {
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
}

p#footer-address {
    font-weight: normal;
}

#footer-address > span {
    display: block;
    white-space: pre;
}

div.social-icon {
    display: inline-block;
    vertical-align: middle;
}

.social-icon > img {
    max-width: 30px;
    max-height: 30px;
    margin: 7.5px 20px;
}

@media screen and (max-width: 992px) {
    nav .brand-logo {
        left: auto;
        transform: none;
        margin-left: 14px !important;
    }
}

@media screen and (max-width: 360px) {
    .social-icon > img {
        margin: 0px 10px;
    }
}