{% extends "base.njk" %}

{% block main %}

<!-- Ingeniero en Telematica -->
<h5 class="center-align"> Ingeniero en Telematica </h5>
    <table>
        <thead>
            <tr>
                <th> Academia </th>
                <th> Unidades de Aprendizaje </th>
                <th> Semestre </th>
            </tr>
        </thead>
        <tbody>
            <!-- Ciencias Basicas -->
            <tr>
                <td> Ciencias Basicas </td>
                <td>
                    <p> Física </p>
                    <p> Matemáticas para Ingenieria </p> 
                    <p> Cálculo Diferencial e Integral </p>
                    <p> Electricidad y Magnetismo </p>
                    <p> Probablilidad y Métodos Estadisticos </p>
                    <p> Métodos Numéricos </p>
                    <p> Ecuaciones Diferenciales </p>
                    <P> Analisis de Señales </P>
                </td>
                <td>
                    <p> 1° </p>
                    <p> 1° </p>
                    <p> 2° </p>
                    <p> 3° </p>
                    <p> 3° </p>
                    <p> 4° </p>
                    <p> 4° </p>
                    <p> 5° </p>
                </td>
            </tr>

            <!-- Redes y Telecomunicaciones -->
            <tr>
                <td> Redes y Telecomunicaciones </td>
                <td>
                    <p> Redes de Datos </p>
                    <p> Enrutamiento Básico </p>
                    <p> Enrutamiento WAN y Conmutación </p>
                    <p> Sistemas Operativos y Servicios de Internet </p>
                    <p> Comunicaciones Digitales </p>
                    <p> Comunicaciones Ópticas </p>
                    <p> Comunicaciones Móviles y Satelitales </p>
                    <p> Administración y Seguridad de Redes </p>
                    <p> Redes Inalámbricas de Sensores </p>
                    <p> Simulación de Calidad de Servicio </p>
                </td>
                <td>
                    <p> 1° </p>
                    <p> 2° </p>
                    <p> 3° </p>
                    <p> 4° </p>
                    <p> 5° </p>
                    <p> 6° </p>
                    <p> 6° </p>
                    <p> 6° </p>
                    <p> 7° </p>
                    <p> 7° </p>
                </td>
            </tr>

            <!-- Arquitectura de Computadoras -->
            <tr>
                <td> Arquitectura de Computadoras </td>
                <td>
                    <p> Arquitectura de Computadoras </p>
                    <p> Electrónica Digital </p>
                    <p> Sistemas Embebidos </p>
                    <p> Robótica </p>
                </td>
                <td>
                    <p> 1° </p>
                    <p> 2° </p>
                    <p> 3° </p>
                    <p> 4° </p>
                </td>
            </tr>

            <!-- Software -->
            <tr>
                <td> Software </td>
                <td>
                    <p> Herramientas de Programación </p>
                    <p> Estructuras de Base de Datos </p>
                    <p> Programación </p>
                    <p> Programación Visual </p>
                    <p> Programación para Web </p>
                    <p> Ingeniería de Software </p>
                    <p> Base de Datos Distribuidas </p>
                </td>
                <td>
                    <p> 1° </p>
                    <p> 2° </p>
                    <p> 3° </p>
                    <p> 4° </p>
                    <p> 5° </p>
                    <p> 5° </p>
                    <p> 6° </p>
                </td>
            </tr>

            <!-- Entorno Social -->
            <tr>
                <td> Entorno Social </td>
                <td>
                    <p> Ética y Comportamiento en las Organizaciones </p>
                    <p> Derecho Informático </p>
                    <p> Formulación de Proyectos </p>
                    <p> Evaluación de Proyectos </p>
                    <p> Dirección de Proyectos </p>
                </td>
                <td>
                    <p> 1° </p>
                    <p> 2° </p>
                    <p> 3° </p>
                    <p> 5° </p>
                    <p> 6° </p>
                </td>
            </tr>

            <!-- Introducción a la Investigación -->
            <tr>
                <td> Introducción a la Investigación </td>
                <td>
                    <p> Seminario de Investigación I </p>
                    <p> Seminario de Investigación II</p>
                </td>
                <td>
                    <p> 6° </p>
                    <p> 7° </p>
                </td>
            </tr>

            <!-- Lengua Inglesa -->
            <tr>
                <td> Lengua Inglesa </td>
                <td>
                    <p> Pre-Intermediate General English </p>
                    <p> Intermediate General English </p>
                    <p> Intermediate English for Computer Users </p>
                    <p> Upper-Intermediate English for Computer Users </p>
                    <p> Advanced English for Computer Users </p>
                    <p> English for Research </p>
                    <p> Occupational English </p>
                </td>
                <td>
                    <p> 1° </p>
                    <p> 2° </p>
                    <p> 3° </p>
                    <p> 4° </p>
                    <p> 5° </p>
                    <p> 6° </p>
                    <p> 7° </p>
                </td>
            </tr>
        </tbody>
    </table>

<!-- Ingeniero en Software -->
<h5 class="center-align"> Ingeniero en Software </h5>
<table>
    <thead>
        <tr>
            <th> Academia </th>
            <th> Unidades de Aprendizaje </th>
            <th> Semestre </th>
        </tr>
    </thead>
    <tbody>
        <!-- Ciencias Basicas -->
        <tr>
            <td> Ciencias Basicas </td>
            <td>
                <p> Física </p>
                <p> Matemáticas Basicas </p>
                <p> Cálculos </p>
                <p> Probabilidad </p>
                <p> Matemáticas Discretas </p>
                <p> Métodos Estadisticos </p>
                <p> Métodos Numéricos </p>
                <p> Simulación e Investigación de Operaciones </p>
            </td>
            <td>
                <p> 1° </p>
                <p> 1° </p>
                <p> 2° </p>
                <p> 3° </p>
                <p> 3° </p>
                <p> 4° </p>
                <p> 5° </p>
                <p> 6° </p>
            </td>
        </tr>

        <!-- Software -->
        <tr>
            <td>
                <p> Software </p>
            </td>
            <td>
                <p> Ofimatica </p>
                <p> Lenguajes Algorítmicos </p>
                <p> Análisis y Modelado de Softtware </p>
                <p> Programación Orientada a Objetos </p>
                <p> Sistemas de Información </p>
                <p> Diseño de Softtware </p>
                <p> Administración de Proyectos de Software </p>
                <p> Programación Visual </p>
                <p> Estructuras de Datos </p>
                <p> Programación Distribuida </p>
                <p> Bases de Datos </p>
                <p> Interacción Humano-Computadora </p>
                <p> Programación en Internet </p>
                <p> Testeo y Métodos de Usabilidad </p>
                <p> Bases de Datos Distribuidas </p>
                <p> Sistemas de Hipermedia </p>
                <p> Mantenimiento de Software </p>
                <p> Programación de Dispositivos Móviles </p>
            </td>
            <td>
                <p> 1° </p>
                <p> 1° </p>
                <p> 1° </p>
                <p> 2° </p>
                <p> 2° </p>
                <p> 2° </p>
                <p> 3° </p>
                <p> 3° </p>
                <p> 4° </p>
                <p> 5° </p>
                <p> 5° </p>
                <p> 5° </p>
                <p> 6° </p>
                <p> 6° </p>
                <p> 6° </p>
                <p> 7° </p>
                <p> 7° </p>
                <p> 7° </p>
            </td>
        </tr>

        <!-- Arquitectura de Software -->
        <tr>
            <td> Arquitectura de Software </td>
            <td>
                <p> Sistemas Digitales </p>
                <p> Arquitectura de Computadoras </p>
                <p> Sistemas Embebidos </p>
            </td>
            <td>
                <p> 1° </p>
                <p> 2° </p>
                <p> 4° </p>
            </td>
        </tr>

        <!-- Redes -->
        <tr>
            <td> Redes </td>
            <td>
                <p> Redes de Computadoras </p>
                <p> Sistemas Operativos y Servicios de Internet </p>
                <p> Seguridad de Datos </p>
            </td>
            <td>
                <p> 2° </p>
                <p> 4° </p>
                <p> 7° </p>
            </td>
        </tr>

        <!-- Entorno Social -->
        <tr>
            <td> Entorno Social </td>
            <td>
                <p> Formulación de Proyectos </p>
                <p> Evaluación de Proyectos </p>
                <p> Ética y Comportamiento en las Organizaciones </p>
                <p> Dirección de Proyectos </p>
                <p> Derecho Informático </p>
            </td>
            <td>
                <p> 3° </p>
                <p> 4° </p>
                <p> 4° </p>
                <p> 5° </p>
                <p> 5° </p>
            </td>
        </tr>

        <!-- Introducción a la Investigación -->
        <tr>
            <td>Introducción a la Investigación</td>
            <td>
                <p> Seminario de Investigación </p>
                <p> Seminario de Investigación </p>
            </td>
            <td>
                <p> 6° </p>
                <p> 7° </p>
            </td>
        </tr>

        <!-- Lengua Inglesa -->
        <tr>
            <td> Lengua Inglesa </td>
            <td>
                <p> Pre-Intermediate General English </p>
                <p> Intermediate General English </p>
                <p> Intermediate English for Computer Users </p>
                <p> Upper-Intermediate English for Computer Users </p>
                <p> Advanced English for Computer Users </p>
                <p> English for Research </p>
                <p> Occupational English </p>
            </td>
            <td>
                <p> 1° </p>
                <p> 2° </p>
                <p> 3° </p>
                <p> 4° </p>
                <p> 5° </p>
                <p> 6° </p>
                <p> 7° </p>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}