{% extends "base.njk" %}

{% block main %}

<!-- Ingeniero en Telematica -->
<h5> Ingeniero en Telematica </h5>
    <table>
        <thead>
            <tr>
                <th>Academia</th>
                <th>Unidades de Aprendizaje</th>
                <th>Semestre</th>
            </tr>
        </thead>
        <tbody>
            <!-- Ciencias Basicas -->
            <tr>
                <td> Ciencias Basicas </td>
                <td>
                    <p> Fisica </p>
                    <p> Matematicas para Ingenieria </p> 
                    <p> Cálculo Diferencial e Integral </p>
                    <p> Electricidad y Magnetismo </p>
                    <p> Probablilidad y Métodos Estadisticos </p>
                    <p> Métodos Numéricos </p>
                    <p> Ecuaciones Diferenciales </p>
                    <P> Analisis de Señales </P>
                </td>
                <td>
                    <p> 1° </p>
                    <p> 1° </p>
                    <p> 2° </p>
                    <p> 3° </p>
                    <p> 3° </p>
                    <p> 4° </p>
                    <p> 4° </p>
                    <p> 5° </p>
                </td>
            </tr>

            <!-- Redes y Telecomunicaciones -->
            <tr>
                <td> Redes y Telecomunicaciones </td>
                <td>
                    <p> Redes de Datos </p>
                    <p> Enrutamiento Basico </p>
                    <p> Enrutamiento WAN y Conmutación </p>
                    <p> Sistemas Operativos y Servicios de Internet </p>
                    <p> Comunicaciones Digitales </p>
                    <p> Comunicaciones Ópticas </p>
                    <p> Comunicaciones Móviles y Satelitales </p>
                    <p> Administracion y Seguridad de Redes </p>
                    <p> Redes Inalambricas de Sensores </p>
                    <p> Simulación de Calidad de Servicio </p>
                </td>
                <td>
                    <p> 1° </p>
                    <p> 2° </p>
                    <p> 3° </p>
                    <p> 4° </p>
                    <p> 5° </p>
                    <p> 6° </p>
                    <p> 6° </p>
                    <p> 6° </p>
                    <p> 7° </p>
                    <p> 7° </p>
                </td>
            </tr>

            <!-- Arquitectura de Computadoras -->
            <tr>
                <td> Arquitectura de Computadoras </td>
                <td>
                    <p> Arquitectura de Computadoras </p>
                    <p> Electronica Digital </p>
                    <p> Sistemas Embebidos </p>
                    <p> Robótica </p>
                </td>
                <td>
                    <p> 1° </p>
                    <p> 2° </p>
                    <p> 3° </p>
                    <p> 4° </p>
                </td>
            </tr>

            <!-- Software -->
            <tr>
                <td> Software </td>
                <td>
                    <p> Herramientas de Programacion </p>
                    <p> Estructuras de Base de Datos </p>
                    <p> Programación </p>
                    <p> Programación Visual </p>
                    <p> Programación para Web </p>
                    <p> Ingeniería de Software </p>
                    <p> Base de Datos Distribuidas </p>
                </td>
                <td>
                    <p> 1° </p>
                    <p> 2° </p>
                    <p> 3° </p>
                    <p> 4° </p>
                    <p> 5° </p>
                    <p> 5° </p>
                    <p> 6° </p>
                </td>
            </tr>

            <!-- Entorno Social -->
            <tr>
                <td> Entorno Social </td>
                <td>
                    <p> Ética y Comportamiento en las Organizaciones </p>
                    <p> Derecho Informatico </p>
                    <p> Formulario de Proyectos </p>
                    <p> Evaluacion de Proyectos </p>
                    <p> Direccion de Proyectos </p>
                </td>
                <td>
                    <p> 1° </p>
                    <p> 2° </p>
                    <p> 3° </p>
                    <p> 5° </p>
                    <p> 6° </p>
                </td>
            </tr>

            <!-- Introducción a la Investigación -->
            <tr>
                <td> Introducción a la Investigación </td>
                <td>
                    <p> Seminario de Investigación I </p>
                    <p> Seminario de Investigación II</p>
                </td>
                <td>
                    <p> 6° </p>
                    <p> 7° </p>
                </td>
            </tr>

            <!-- Lengua Inglesa -->
            <tr>
                <td> Lengua Inglesa </td>
                <td>
                    <p> Pre-Intermediate General English </p>
                    <p> Intermediate General English </p>
                    <p> Intermediate English for Computer Users </p>
                    <p> Upper-Intermediate English for Computer Users </p>
                    <p> Advanced English for Computer Users </p>
                    <p> English for Research </p>
                    <p> Occupational English </p>
                </td>
                <td>
                    <p> 1° </p>
                    <p> 2° </p>
                    <p> 3° </p>
                    <p> 4° </p>
                    <p> 5° </p>
                    <p> 6° </p>
                    <p> 7° </p>
                </td>
            </tr>
        </tbody>
    </table>

<!-- Ingeniero en Software -->
<h5> Ingeniero en Software </h5>
<table>
    <thead></thead>
    <tbody></tbody>
</table>
{% endblock %}