<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{meta.title}}</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/material.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% if meta.css %}
        <link rel="stylesheet" href="/css/{{meta.css}}.css">
    {% endif %}
</head>
<body>
    <header>
        {# Dropdown Facultad #}
        <ul id='ddFac' class='dropdown-content'>
            <li><a class="black-text" href="/Historia">Historia</a></li>
            <li><a class="black-text" href="/Contacto">Contacto</a></li>
            <li><a class="black-text" href="/Infraestructura">Infraestructura</a></li>
            <li><a class="black-text" href="/Calendario">Calendario</a></li>
        </ul>

        <ul id='ddOf' class='dropdown-content'>
            <li><a class="black-text" href="/Maestria">Maestría</a></li>
        </ul>

        {# Navbar #}
        <nav>
            <div class="nav-wrapper blue-grey">
                <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <a href="/" class="brand-logo">Facultad de Telemática</a>
                <ul class="right hide-on-med-and-down" id="#links">
                    <li><a id="ddTFac" class='dropdown-trigger' href='#' data-target='ddFac'>Facultad</a></li>
                    <li><a id="ddTOF" class='dropdown-trigger' href='#' data-target='ddOf'>Oferta Educativa</a></li>
                    <li><a id="ddTA" class='dropdown-trigger' href='#' data-target='ddA'>Académico</a></li>
                    <li><a id="ddTE" class='dropdown-trigger' href='#' data-target='ddE'>Estudiantes</a></li>
                </ul>
            </div>
        </nav>

        {# Sidenav #}
        <ul class="sidenav" id="mobile-demo">
            <li>
                <div class="user-view" style="padding: 16px;">
                    <div class="background" style="position: initial;">
                        <img src="img/ucol.png" style="max-width: 100%; vertical-align: middle;">
                    </div>
                </div>
            </li>            
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header" id="inicio"><a href="/">Inicio</a></div>
                    <div class="collapsible-body"></div>
                </li>
                <li>
                    <div class="collapsible-header">Facultad</div>
                    <div class="collapsible-body">
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header" id="inicio"><a href="/Historia">Historia</a></div>
                                <div class="collapsible-body"></div>
                            </li>
                            <li>
                                <div class="collapsible-header" id="inicio"><a href="/Contacto">Contacto</a></div>
                                <div class="collapsible-body"></div>
                            </li>
                            <li>
                                <div class="collapsible-header" id="inicio"><a href="/Calendario">Calendario</a></div>
                                <div class="collapsible-body"></div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Oferta Educativa</div>
                    <div class="collapsible-body">
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header" id="inicio"><a href="/Maestria">Maestra</a></div>
                                <div class="collapsible-body"></div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Académico</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header">Estudiantes</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>
        </ul>
    </header>
    <main {% if not meta.container %} class="container" {% endif %}>
        {% block main %}
            
        {% endblock %}
    </main>
    <footer class="page-footer white">
        <div class="container center black-text">
            <div class="row">
                <div class="col l4 m4 s6 offset-l2 offset-m2">
                    <div class="social-icon">
                        <img src="/img/facebook.png">
                    </div>
                    <div class="social-icon">
                        <img src="/img/youtube.png">
                    </div>
                </div>
                <div class="col l4 m4 s6">
                    <p id="footer-address">
                        <span>Tel: +52(312)316-10757</span>
                        <span>telematica@ucol.mx</span>
                        <span>Lu-Vi 07:00-20:00</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-copyright black-text">
            <div class="container center">
                © 2017 Facultad de Telemática. All Rights Reserved.
            </div>
        </div>
    </footer>

    <script src="/material.js" type="application/javascript"></script>
    <script type="application/javascript">
        let sidenavElem = document.querySelector('.sidenav');
        M.Sidenav.init(sidenavElem);

        let sidenavMenuElem = document.querySelector('.collapsible');
        M.Collapsible.init(sidenavMenuElem);


        let ddFac = document.querySelectorAll('.dropdown-trigger');
        ddFac.forEach((elem) => M.Dropdown.init(ddFac));
    </script>
</body>
</html>