<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{meta.title}}</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/material.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% if meta.css %}
        <link rel="stylesheet" href="/css/{{meta.css}}.css">
    {% endif %}
</head>
<body>
    <header>
        {# Dropdown Facultad #}
        <ul id='ddFac' class='dropdown-content'>
            <li><a class="black-text" href="/Historia">Historia</a></li>
            <li><a class="black-text" href="/Contacto">Contacto</a></li>
        </ul>

        {# Navbar #}
        <nav>
            <div class="nav-wrapper blue-grey">
                <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <a href="/" class="brand-logo">Facultad de Telemática</a>
                <ul class="right hide-on-med-and-down" id="links">
                    <li><a id="ddTFac" class='dropdown-trigger' href='#' data-target='ddFac'>Facultad</a></li>
                    <li><a id="ddTOF" class='dropdown-trigger' href='#' data-target='dropdown1'>Oferta Educativa</a></li>
                    <li><a id="ddTA" class='dropdown-trigger' href='#' data-target='dropdown1'>Académico</a></li>
                    <li><a id="ddTE" class='dropdown-trigger' href='#' data-target='dropdown1'>Estudiantes</a></li>
                </ul>
            </div>
        </nav>

        {# Sidenav #}
        <ul class="sidenav" id="mobile-demo">
            <li>
                <div class="user-view" style="padding: 16px;">
                    <div class="background" style="position: initial;">
                        <img src="img/ucol.png" style="max-width: 100%; vertical-align: middle;">
                    </div>
                </div>
            </li>            
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header" id="inicio"><a href="/">Inicio</a></div>
                    <div class="collapsible-body"></div>
                </li>
                <li>
                    <div class="collapsible-header">Facultad</div>
                    <div class="collapsible-body">
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header" id="inicio"><a href="/Historia">Historia</a></div>
                            <div class="collapsible-body"></div>
                        </li>
                        <li>
                            <div class="collapsible-header" id="inicio"><a href="/Contacto">Contacto</a></div>
                            <div class="collapsible-body"></div>
                        </li>
                    </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Oferta Educativa</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header">Académico</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header">Estudiantes</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>
        </ul>
    </header>
    <main class="container">
        {% block main %}
            
        {% endblock %}
    </main>
    {# <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="black-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
        <div class="container center">
            © 2017 Facultad de Telemática. All Rights Reserved.
        </div>
        </div>
    </footer> #}

    <script src="/material.js" type="application/javascript"></script>
    <script type="application/javascript">
        let sidenavElem = document.querySelector('.sidenav');
        M.Sidenav.init(sidenavElem);

        let sidenavMenuElem = document.querySelector('.collapsible');
        M.Collapsible.init(sidenavMenuElem);

        let ddFac = document.querySelector('#ddTFac');
        M.Dropdown.init(ddFac);
    </script>
</body>
</html>