{% extends "base.njk" %}

{% block main %}
	<link rel="stylesheet" type="text/css" href="/css/calendario.css">

	<div class="Calendario">
		<p> Calendario Escolar </p>
	</div>

	<div class="Calendario_Img">
		<img class="responsive-img" src="/img/Calendario.png">
	</div>
{% endblock %}