{% extends "base.njk" %}

{% block main %}
	<link rel="stylesheet" type="text/css" href="/css/home.css">

	<div class="Calendario">
		<p> Calendario Escolar </p>
	</div>

	<div class="Calendario_Img">
		<img src="/img/Calendario.png">
	</div>
{% endblock %}