{% extends "base.njk" %}

{% block main %}
    <table>
        <tr>
            <th>Contacto</th>
        </tr>
        <tr>
            <th>M. en C. Sara Sandoval Carrillo <br/>sary@ucol.mx <br/>Directora de la Facultad de Telemática</th>
        </tr>
        <tr>
            <th>Dr. Ed. Antonio Ordaz Carrillo <br/>Coordinador Académico de la carrera Ingeniería en Software <br/>aordaz@ucol.mx<br/>ext 37804</th>
            <th>M.C. Aaron Vázquez GodinaCoordinador Académico de la carrera Ingeniería en Telemática <br/>laaaron@ucol.mx<br/>ext. 37805</th>
            <th>Dr. Raúl Teodoro Aquino Santos <br/>Coordinador de Posgrado <br/>aquinor@ucol.mx</th>
            <th></th>
        </tr>
    </table>
{% endblock %}