{% extends "base.njk" %}

{% block main %}
    <ul class="collection with-header">
      <li class="collection-header indigo lighten-1 white-text"><h4>Contacto</h4></li>
      <li class="collection-item"><div>M. en C. Sara Sandoval Carrillo<br/>Directora de la Facultad de Telemática <br/>sary@ucol.mx<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      <li class="collection-item"><div>Dr. Ed. Antonio Ordaz Carrillo<br/>Coordinador Académico de la carrera Ingeniería en Software<br/>aordaz@ucol.mx<br/>ext 37804<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      <li class="collection-item"><div>M.C. Aaron Vázquez Godina<br/>Coordinador Académico de la carrera Ingeniería en Telemática<br/>laaaron@ucol.mx<br/>ext. 37805 <a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      <li class="collection-item"><div>Dr. Raúl Teodoro Aquino Santos <br/>Coordinador de Posgrado <br/>aquinor@ucol.mx<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      <li class="collection-item"><div>C.P. Rosa María Poce Barajas <br/>Secretaria Administrativa <br/>rponce@ucol.mx<br/>ext 37803<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      <li class="collection-item"><div>Universidad de Colima<br/>Facultad de Telemática<br/>Av. Universidad #333. Colonia Las Víboras<br/>C.P. 28040 Colima, Colima, México<br/>Tel y Fax +52 (312) 316-10-75<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    </ul>
{% endblock %}