{% extends "base.njk" %}

{% block main %}

	<link rel="stylesheet" type="text/css" href="/css/home.css">
	<div  class="building">
		<img src="/img/facultad_img.png">
	</div>
	
	<div class="mision">
		<h3> Misión </h3>
		<p>	Formamos recursos humanos de Licenciatura y 
			Posgrado eficientes y competitivos, socialmente
			comprometidos, capaces de innovar y adaptarse 
			en el área de las Tecnologias de la Informacion 
			y Comunicacion (TIC) en los entornos nacional e
			internacional. </p>
	</div>

	<div class="OfertasEducativas">
		<p> Oferta Educativa </p>
		<div class="Ingenieria_Software"> 
			<p> Ingenieria en Software </p>
		</div>
		<div class="Ingenieria_Telematica">
			<p> Ingenieria en Telematica </p>
		</div>
		<div class="Maestria"> 
			<p> Maestria </p>
		</div>
		<div class="Tramites">
			<p> Tramites </p> 
		</div>
	</div>
	
	<div style=" width: 1150px; height: 575px; margin: auto; ">
		<iframe src="https://www.youtube.com/embed/23d_z0WsC6c" frameborder="0"></iframe>
	</div>

{% endblock %}