{% extends "base.njk" %}

{% block main %}
    <h4>Rendicion de cuentas</h4>

    <div class="row grid">
        <div class="card center-align boton">
            <a href="/resources/informe2015.pdf" target="blank">
                <h4 class="subtitle">Informe de labores</h4>
                <h4 style="padding:1em">2015</h4>
            </a>
        </div>
        <div class="card center-align boton">
            <a href="/resources/informe2016.pdf" target="blank">
                <h4 class="subtitle">Informe de labores</h4>
                <h4 style="padding:1em">2016</h4>
            </a>
        </div>
        <div class="card center-align boton">
            <a href="/resources/informe2017.pdf" target="blank">
                <h4 class="subtitle">Informe de labores</h4>
                <h4 style="padding:1em">2017</h5s>
            </a>
        </div>
    </div>  
{% endblock %}

