{% extends "base.njk" %}

{% block main %}
<h2 class="center-align">Rendicion de cuentas</h2>

<div class="row grid">
    <div class="card center-align boton"><a href="/resources/informe2015.pdf" target="blank">
        <h3 class="subtitle">Informe de labores</h3>
        <h3 style="padding:1em">2015</h4>
    </a></div>
    <div class="card center-align boton"><a href="/resources/informe2016.pdf" target="blank">
        <h3 class="subtitle">Informe de labores</h3>
        <h3 style="padding:1em">2016</h4>
    </a></div>
    <div class="card center-align boton"><a href="/resources/informe2017.pdf" target="blank">
        <h3 class="subtitle">Informe de labores</h3>
        <h3 style="padding:1em">2017</h4>
    </a></div>
</div>  
{% endblock %}

