{% extends "base.njk" %}

{% block main %}
<h3>Ingenieria de Software</h3>
<div class="card">
    <div class="card-content">
        <span class="card-title">Perfil del egresado</span>
        <p>El Ingeniero en Telemática posee competencias genéricas y específicas para diseñar, 
        gestionar y evaluar servicios de redes y telecomunicaciones en organizaciones nacionales 
        e internacionales. Asimismo, cuenta con habilidades para diseñar y desarrollar software 
        de comunicaciones y sistemas distribuidos, operar y realizar el mantenimiento de la infraestructura 
        tecnológica, innovar y adaptar las Tecnologías de Información y Comunicación (TIC) a los procesos 
        productivos de las empresas, implementa estándares y protocolos de seguridad de acuerdo con las normas 
        y lineamientos establecidos y realiza proyectos de desarrollo tecnológico para la solución de problemas 
        de manera flexible y creativa. Actúa con ética profesional y responsabilidad social desempeñándose con liderazgo, 
        espíritu crítico, emprendedor e innovador.</p>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <span class="card-title">Competencias a desarrollar</span>
        – Planificar y gestionar tecnologías para entornos de área local (LAN), metropolitana (MAN) y área amplia (WAN).<br>
        – Supervisar y brindar asistencia técnica a desarrolladores, suministradores de equipos y sistemas de telecomunicación.<br>
        – Elaborar proyectos de infraestructuras comunes de telecomunicación en edificios (ICT).<br>
        – Diseñar y desarrollar servicios de redes y telecomunicaciones.<br>
        – Diseñar e implementar sistemas de seguridad para el almacenamiento, la transmisión y accesos a redes y sistemas.<br>
        – Diseñar aplicaciones distribuidas orientadas a la administración y el comercio electrónico.<br>
        – Especificar, diseñar e implementar protocolos con calidad de servicio para soportar medios de comunicación masivos.<br>
        – Diseñar software de sistemas de tiempo real para aplicaciones de entretenimiento.<br>
        – Asesorar el desarrollo de normas y propone criterios de homologación de equipos, sistemas y certificaciones.<br>
    </div>
</div>
<div class="row">
    <div class="col s6 card" style="height: 220px">
        <div class="card-content">
        <span class="card-title">Campo de trabajo</span>
        – Empresas de servicios de consultoría relacionados con tecnologías de información.<br>
        – Organizaciones con redes de telecomunicaciones y de cómputo.<br>
        – Centros de cómputo o centros de procesamiento de información.<br>
        – Centros de teleprocesamiento.<br>
        – Ejercicio libre de la profesión.<br>
        </div>
    </div>
    <div class="col s6 card" style="height: 220px">
        <div class="card-content">
        <span class="card-title">Caracteristicas deseables del aspirante</span>
        – Habilidad para las matemáticas y la electrónica.<br>
        – Capacidad para solucionar problemas basados en deducciones lógicas.<br>
        – Facilidad para el manejo de conocimientos teóricos y prácticos.<br>
        – Interés por las telecomunicaciones, el desarrollo tecnológico y el manejo de software.<br>
        – Aptitud para trabajar en equipo.<br>
        – Habilidad para la investigación y el autoaprendizaje.<br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s6 card" style="height: 130px">
        <div class="card-content">
        <span class="card-title">Estudios Previos</span>
        Bachillerato terminado, preferentemente en las áreas de técnico
        analista programador, tecnico en computacion o su equivalente.
        </div>
    </div>
    <div class="col s6 card" style="height: 130px">
        <div class="card-content">
        <span class="card-title">Requisitos de Ingreso</span>
        Atender el proceso de admisión vigente señalado en la Convocatoria
        oficial para la Educacion Superior
        </div>
    </div>
</div>
<div class="card">
    <div class="card-content truncate">
        <span class="card-title">Requisitos de egreso</span>
        – Aprobar la totalidad del plan de estudios, acreditar las actividades culturales y deportivas, y el servicio social universitario.<br>
        – Acreditar la Práctica Profesional y el Servicio Social Constitucional, de acuerdo con el Reglamento Escolar de Educación Superior.<br>
        – Presentar el Examen General para el Egreso de la Licenciatura (egel-ceneval).<br>
        – Cumplir con los requisitos de documentación administrativa necesarios.<br>
    </div>
</div>
<div class="row">
    <div class="col s4 card">
        <div class="card-content">
            <span class="card-title">Duracion de la carrera</span>
            8 semestres
        </div>
    </div>
    <div class="col s8">
        <div class="center-align" style="padding:2em">
            <a class="blue waves-effect waves-light btn-large"><i class="material-icons left">school</i>Ver plan de estudios</a>
        </div>
    </div>
</div>
{% endblock %}