{% extends "base.njk" %}

{% block main %}
<h3>Ingenieria de Software</h3>
<div class="card">
    <div class="card-content">
        <span class="card-title">Perfil del egresado</span>
        <p>El Ingeniero de Software posee competencias genéricas y específicas para diseñar la arquitectura
        y detallar las especificaciones de funcionamiento de los sistemas de software en organizaciones nacionales 
        e internacionales, conoce la naturaleza y propiedades de los distintos lenguajes de programación, 
        realiza la implementación del software mediante el uso de las diferentes metodologías y paradigmas del ciclo de vida y, 
        realiza los distintos tipos de mantenimiento en sistemas de software de manufactura, considerando las características 
        del hardware y sistemas embebidos. Además, realiza proyectos de desarrollo tecnológico para la solución de 
        problemas de manera flexible y creativa. Actúa con ética profesional y responsabilidad social desempeñándose 
        con liderazgo, espíritu crítico, emprendedor e innovador.</p>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <span class="card-title">Competencias a desarrollar</span>
        <ul>
            <li>– Dirigir y coordinar proyectos de desarrollo y mantenimiento de software.</li>
            <li>– Supervisar las etapas de la vida de un proyecto de desarrollo de software.</li>   
            <li>– Dirigir equipos de trabajo compuestos por analistas, diseñadores y programadores.</li>    
            <li>– Analizar y seleccionar nuevas técnicas y herramientas existentes en el mercado tecnológico y del software.</li>    
            <li>– Analizar y diseñar aplicaciones de software.</li>    
            <li>– Realizar pruebas de verificación, integración y rendimiento de las aplicaciones de software.</li>    
            <li>– Integrar sistemas existentes susceptibles de interrelacionarse.</li>    
            <li>– Brindar asesoría a usuarios en la resolución de problemas relacionados con los sistemas de software.</li>    
            <li>– Realizar consultoría individual o en colaboración con otros profesionistas.</li>    
            <li>– Administrar sistemas de bases de datos.</li>
            <li>– Participar en formular políticas de seguridad y técnicas criptográficas en empresas e instituciones donde se desempeñe.
            <li>– Verificar que el software desarrollado cumpla con la legislación en vigor.</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col s6 card" style="height: 220px">
        <div class="card-content">
        <span class="card-title">Campo de trabajo</span>
        – Empresas integradoras de tecnologías.<br>
        – Sector público y privado, en áreas de informática y sistemas.<br>
        – Fábricas y Casas de software.<br>
        – Despachos particulares y multiprofesionales.<br>
        – Ejercicio libre de la profesión.<br>
        </div>
    </div>
    <div class="col s6 card" style="height: 220px">
        <div class="card-content">
        <span class="card-title">Caracteristicas deseables del aspirante</span>
        – Habilidad para las matemáticas y la programación.<br>
        – Capacidad para solucionar problemas basados en deducciones lógicas.<br>
        – Aptitud para trabajar en equipo.<br>
        – Habilidad para la investigación y el autoaprendizaje.<br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s6 card" style="height: 130px">
        <div class="card-content">
        <span class="card-title">Estudios Previos</span>
        Bachillerato terminado, preferentemente en las áreas de técnico
        analista programador, tecnico en computacion o su equivalente.
        </div>
    </div>
    <div class="col s6 card" style="height: 130px">
        <div class="card-content">
        <span class="card-title">Requisitos de Ingreso</span>
        Atender el proceso de admisión vigente señalado en la Convocatoria
        oficial para la Educacion Superior
        </div>
    </div>
</div>
<div class="card">
    <div class="card-content truncate">
        <span class="card-title">Requisitos de egreso</span>
        – Aprobar la totalidad del plan de estudios, acreditar las actividades culturales y deportivas, y el servicio social universitario.<br>
        – Acreditar la Práctica Profesional y el Servicio Social Constitucional, de acuerdo con el Reglamento Escolar de Educación Superior.<br>
        – Presentar el Examen General para el Egreso de la Licenciatura (egel-ceneval).<br>
        – Cumplir con los requisitos de documentación administrativa necesarios.<br>
    </div>
</div>
<div class="row">
    <div class="col s4 card">
        <div class="card-content">
            <span class="card-title">Duracion de la carrera</span>
            8 semestres
        </div>
    </div>
    <div class="col s8">
        <div class="center-align" style="padding:2em">
            <a class="blue waves-effect waves-light btn-large"><i class="material-icons left">school</i>Ver plan de estudios</a>
        </div>
    </div>
</div>
{% endblock %}