{% extends "base.njk" %}

{% block main %}
<br/>
    <table class="table text-center">
<tbody>
	<tr><th colspan="4" class="blue-grey white-text center-align"><span> DIRECCIÓN</span></th></tr>
	<tr>
		<td colspan="4" style="text-align: center;">M. en C. Sara Sandoval Carrillo<br /> <strong>Directora de la Facultad</strong><br />sary@ucol.mx <br /> ext 37800</td>
	</tr>
	<tr>
		<td style="text-align: center;">Dr. Ed. Antonio Ordaz Carrillo<br /> <strong>Coordinador Académico de la carrera Ingeniería en Software </strong><br />  aordaz@ucol.mx<br /> ext 37804</td>
		<td style="text-align: center;">M.C. Aaron Vázquez Godina<br /> <strong>Coordinador Académico de la carrera Ingeniería en Telemática</strong><br />laaaron@ucol.mx<br /> ext. 37805</td>
		<td style="text-align: center;">Dr. Raúl Teodoro Aquino Santos<br /> <strong>Coordinador de Posgrado</strong><br />aquinor@ucol.mx</td>
		<td style="text-align: center;">C.P. Rosa María Ponce Barajas<br /> <strong>Secretaria Administrativa</strong><br />rponce@ucol.mx<br /> ext 37803</td>
	</tr>
	<tr>
		<td style="text-align: center;">Lic. Alma Refugio Dávila Preciado<br /><strong>Asesora Pedagógica</strong><br />adavila@ucol.mx</td>
		<td style="text-align: center;">Lic. Mónica Georgina García Valle<br /><strong>Orientadora Educativa</strong><br />monica_garcia@ucol.mx</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="text-align: center;">&nbsp;</td>
		<td style="text-align: center;">&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr><th colspan="4" class="blue-grey white-text center-align"><strong> <span > COMISIONES </span></strong></th></tr>
	<tr>
		<td style="text-align: center;">D. en C. María Andrade Aréchiga<br /> <strong>Responsable del servicio social constitucional</strong><br />mandrad@ucol.mx</td>
		<td style="text-align: center;">D. en C. María Eugenia Cabello Espinosa<br /> <strong>Responsable del servicio social universitario</strong><br />ecabello@uco.mx</td>
		<td style="text-align: center;">M. en C. Margarita Glenda Mayoral Baldivia<br /> <strong>Responsable de práctica, estancia profesional, EGEL</strong><br />mglenda@ucol.mx</td>
		<td style="text-align: center;">D. en C. Pedro Damián Reyes<br /><strong>Responsable de educación continua</strong><br />damian@ucol.mx</td>
	</tr>
	<tr>
		<td style="text-align: center;">D. en C. Jorge Rafael Gutiérrez Pulido<br /><strong>Responsable de seguimiento de egresados</strong><br />jrgp@ucol.mx</td>
		<td style="text-align: center;">D. en C. Juan Antonio Guerrero Ibáñez<br /> <strong> Responsable del programa de becas</strong><br />antonio_guerrero@ucol.mx</td>
		<td style="text-align: center;">D. en C. Buenrostro Mariscal Raymundo<br /><strong>Responsable de becas de manutención</strong><br />raymundo@ucol.mx</td>
		<td style="text-align: center;">D. Ed. Antonio Ordaz Carrillo<br /><strong>Responsable de Exani II, becas de excelencia,</strong><br />aordaz@ucol.mx</td>
	</tr>
	<tr>
		<td style="text-align: center;">M. en C. Gaspar Cruz Carlos Fidel<br /><strong>Responsable de certificación ISO 9000</strong><br />carlos.gaspar@ucol.mx</td>
		<td style="text-align: center;">M. en C. Aaron Vázquez Godina <br /> <strong>Responsable de visitas guiadas</strong> <br />laaron@ucol.mx</td>
		<td style="text-align: center;">D. en C. Erika Margarita Ramos Michel<br /> <strong>Responsable de Tutorías</strong> <br />ramem@ucol.mx</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="text-align: center;">&nbsp;</td>
		<td style="text-align: center;">&nbsp;</td>
		<td style="text-align: center;">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr><th colspan="4" class="blue-grey white-text center-align"><span> RESPONSABLES DE LABORATORIO</span></th></tr>
	<tr>
		<td style="text-align: center;">Ing. Manzanilla Aznarez Jorge Gerardo<br />aznarez@ucol.mx</td>
		<td style="text-align: center;">M. en C. Gaspar Cruz Carlos Fidel<br />carlos.gaspar@ucol.mx</td>
		<td style="text-align: center;">Lic. Inf. Julio Cesar Marquez Jimenez<br />julioc_marquez@ucol.mx</td>
		<td style="text-align: center;">&nbsp;</td>
	</tr>
	<tr>
		<td style="text-align: center;">&nbsp;</td>
		<td style="text-align: center;">&nbsp;</td>
		<td style="text-align: center;">&nbsp;</td>
		<td style="text-align: center;">&nbsp;</td>
	</tr>
	<tr><th colspan="4" class="blue-grey white-text center-align"><strong><span class="fa fa-users"> SECRETARIAS </span></strong></th></tr>
	<tr>
		<td style="text-align: center;">Aguayo Dimas Silvia Leticia<br />ext 37801</td>
		<td style="text-align: center;">Campos Llerenas Carmen Leticia<br /> ext. 37801</td>
		<td style="text-align: center;">Chavez Trillo Luz Aida <br /> ext 37801</td>
		<td style="text-align: center;">García Vázquez Itza María De J.<br /> ext 37801</td>
	</tr>
	<tr>
		<td style="text-align: center;">Juarez Garcia Ma. Mercedes<br /> ext 37801</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
</tbody>
</table>	</div>

{% endblock %}