{% extends "base.njk" %}

{% block main %}
<br/>
    <table class="table text-center">
<tbody>
<tr><th colspan="4" class="blue"><span class="fa fa-user-o"> DIRECCIÓN</span></th></tr>
<tr>
<td colspan="4" style="text-align: center;">M. en C. Sara Sandoval Carrillo<br /> <strong>Directora de la Facultad</strong><br /> <span id="cloakbccfc44902c0d28851afa926d9cb81bb">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
				document.getElementById('cloakbccfc44902c0d28851afa926d9cb81bb').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addybccfc44902c0d28851afa926d9cb81bb = 's&#97;ry' + '&#64;';
				addybccfc44902c0d28851afa926d9cb81bb = addybccfc44902c0d28851afa926d9cb81bb + '&#117;c&#111;l' + '&#46;' + 'mx';
				var addy_textbccfc44902c0d28851afa926d9cb81bb = 's&#97;ry' + '&#64;' + '&#117;c&#111;l' + '&#46;' + 'mx';document.getElementById('cloakbccfc44902c0d28851afa926d9cb81bb').innerHTML += '<a ' + path + '\'' + prefix + ':' + addybccfc44902c0d28851afa926d9cb81bb + '\'>'+addy_textbccfc44902c0d28851afa926d9cb81bb+'<\/a>';
		</script><br /> ext 37800</td>
</tr>
<tr>
<td style="text-align: center;">Dr. Ed. Antonio Ordaz Carrillo<br /> <strong>Coordinador Académico de la carrera Ingeniería en Software </strong><br /> <span id="cloak3b2a64b97e52bf3b3df3db84e052fc94">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
				document.getElementById('cloak3b2a64b97e52bf3b3df3db84e052fc94').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy3b2a64b97e52bf3b3df3db84e052fc94 = '&#97;&#111;rd&#97;z' + '&#64;';
				addy3b2a64b97e52bf3b3df3db84e052fc94 = addy3b2a64b97e52bf3b3df3db84e052fc94 + '&#117;c&#111;l' + '&#46;' + 'mx';
				var addy_text3b2a64b97e52bf3b3df3db84e052fc94 = '&#97;&#111;rd&#97;z' + '&#64;' + '&#117;c&#111;l' + '&#46;' + 'mx';document.getElementById('cloak3b2a64b97e52bf3b3df3db84e052fc94').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy3b2a64b97e52bf3b3df3db84e052fc94 + '\'>'+addy_text3b2a64b97e52bf3b3df3db84e052fc94+'<\/a>';
		</script><br /> ext 37804</td>
<td style="text-align: center;">M.C. Aaron Vázquez Godina<br /> <strong>Coordinador Académico de la carrera Ingeniería en Telemática</strong><br /> <span id="cloak367b455bbb9537452c62bd2cf00e2e20">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
				document.getElementById('cloak367b455bbb9537452c62bd2cf00e2e20').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy367b455bbb9537452c62bd2cf00e2e20 = 'l&#97;&#97;&#97;r&#111;n' + '&#64;';
				addy367b455bbb9537452c62bd2cf00e2e20 = addy367b455bbb9537452c62bd2cf00e2e20 + '&#117;c&#111;l' + '&#46;' + 'mx';
				var addy_text367b455bbb9537452c62bd2cf00e2e20 = 'l&#97;&#97;&#97;r&#111;n' + '&#64;' + '&#117;c&#111;l' + '&#46;' + 'mx';document.getElementById('cloak367b455bbb9537452c62bd2cf00e2e20').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy367b455bbb9537452c62bd2cf00e2e20 + '\'>'+addy_text367b455bbb9537452c62bd2cf00e2e20+'<\/a>';
		</script><br /> ext. 37805</td>
<td style="text-align: center;">Dr. Raúl Teodoro Aquino Santos<br /> <strong>Coordinador de Posgrado</strong><br /><span id="cloak7cc56d4dfa75d71a0ffe933a4b16a5ea">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
				document.getElementById('cloak7cc56d4dfa75d71a0ffe933a4b16a5ea').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy7cc56d4dfa75d71a0ffe933a4b16a5ea = '&#97;q&#117;&#105;n&#111;r' + '&#64;';
				addy7cc56d4dfa75d71a0ffe933a4b16a5ea = addy7cc56d4dfa75d71a0ffe933a4b16a5ea + '&#117;c&#111;l' + '&#46;' + 'mx';
				var addy_text7cc56d4dfa75d71a0ffe933a4b16a5ea = ' &#97;q&#117;&#105;n&#111;r@&#117;c&#111;l.mx';document.getElementById('cloak7cc56d4dfa75d71a0ffe933a4b16a5ea').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy7cc56d4dfa75d71a0ffe933a4b16a5ea + '\'>'+addy_text7cc56d4dfa75d71a0ffe933a4b16a5ea+'<\/a>';
		</script></td>
<td style="text-align: center;">C.P. Rosa María Ponce Barajas<br /> <strong>Secretaria Administrativa</strong><br /> <span id="cloak8bcfffcf976d89b568fa77147af54404">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
				document.getElementById('cloak8bcfffcf976d89b568fa77147af54404').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy8bcfffcf976d89b568fa77147af54404 = 'rp&#111;nc&#101;' + '&#64;';
				addy8bcfffcf976d89b568fa77147af54404 = addy8bcfffcf976d89b568fa77147af54404 + '&#117;c&#111;l' + '&#46;' + 'mx';
				var addy_text8bcfffcf976d89b568fa77147af54404 = 'rp&#111;nc&#101;' + '&#64;' + '&#117;c&#111;l' + '&#46;' + 'mx';document.getElementById('cloak8bcfffcf976d89b568fa77147af54404').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy8bcfffcf976d89b568fa77147af54404 + '\'>'+addy_text8bcfffcf976d89b568fa77147af54404+'<\/a>';
		</script><br /> ext 37803</td>
</tr>
<tr>
<td style="text-align: center;">Lic. Alma Refugio Dávila Preciado<br /><strong>Asesora Pedagógica</strong><br /><span id="cloak69bef9312fd6523cd0bad2bdf2ab71e0">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
				document.getElementById('cloak69bef9312fd6523cd0bad2bdf2ab71e0').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy69bef9312fd6523cd0bad2bdf2ab71e0 = '&#97;d&#97;v&#105;l&#97;' + '&#64;';
				addy69bef9312fd6523cd0bad2bdf2ab71e0 = addy69bef9312fd6523cd0bad2bdf2ab71e0 + '&#117;c&#111;l' + '&#46;' + 'mx';
				var addy_text69bef9312fd6523cd0bad2bdf2ab71e0 = '&#97;d&#97;v&#105;l&#97;' + '&#64;' + '&#117;c&#111;l' + '&#46;' + 'mx';document.getElementById('cloak69bef9312fd6523cd0bad2bdf2ab71e0').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy69bef9312fd6523cd0bad2bdf2ab71e0 + '\'>'+addy_text69bef9312fd6523cd0bad2bdf2ab71e0+'<\/a>';
		</script></td>
<td style="text-align: center;">Lic. Mónica Georgina García Valle<br /><strong>Orientadora Educativa</strong><br /><span id="cloak4e3b73443c41f72c247e5b848b7b3535">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
				document.getElementById('cloak4e3b73443c41f72c247e5b848b7b3535').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy4e3b73443c41f72c247e5b848b7b3535 = 'm&#111;n&#105;c&#97;_g&#97;rc&#105;&#97;' + '&#64;';
				addy4e3b73443c41f72c247e5b848b7b3535 = addy4e3b73443c41f72c247e5b848b7b3535 + '&#117;c&#111;l' + '&#46;' + 'mx';
				var addy_text4e3b73443c41f72c247e5b848b7b3535 = 'm&#111;n&#105;c&#97;_g&#97;rc&#105;&#97;' + '&#64;' + '&#117;c&#111;l' + '&#46;' + 'mx';document.getElementById('cloak4e3b73443c41f72c247e5b848b7b3535').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy4e3b73443c41f72c247e5b848b7b3535 + '\'>'+addy_text4e3b73443c41f72c247e5b848b7b3535+'<\/a>';
		</script></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><th colspan="4" class="blue"><strong> <span class="fa fa-users"> COMISIONES </span></strong></th></tr>
<tr>
<td style="text-align: center;">D. en C. María Andrade Aréchiga<br /> <strong>Responsable del servicio social constitucional</strong><br /> <span id="cloak2de44b6282fe533ad0e602984f3fc364">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
				document.getElementById('cloak2de44b6282fe533ad0e602984f3fc364').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy2de44b6282fe533ad0e602984f3fc364 = 'm&#97;ndr&#97;d' + '&#64;';
				addy2de44b6282fe533ad0e602984f3fc364 = addy2de44b6282fe533ad0e602984f3fc364 + '&#117;c&#111;l' + '&#46;' + 'mx';
				var addy_text2de44b6282fe533ad0e602984f3fc364 = 'm&#97;ndr&#97;d' + '&#64;' + '&#117;c&#111;l' + '&#46;' + 'mx';document.getElementById('cloak2de44b6282fe533ad0e602984f3fc364').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy2de44b6282fe533ad0e602984f3fc364 + '\'>'+addy_text2de44b6282fe533ad0e602984f3fc364+'<\/a>';
		</script></td>
<td style="text-align: center;">D. en C. María Eugenia Cabello Espinosa<br /> <strong>Responsable del servicio social universitario</strong><br /> <span id="cloakc9fff0bb1d52b08904d813a543202e09">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
				document.getElementById('cloakc9fff0bb1d52b08904d813a543202e09').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addyc9fff0bb1d52b08904d813a543202e09 = '&#101;c&#97;b&#101;ll&#111;' + '&#64;';
				addyc9fff0bb1d52b08904d813a543202e09 = addyc9fff0bb1d52b08904d813a543202e09 + '&#117;c&#111;l' + '&#46;' + 'mx';
				var addy_textc9fff0bb1d52b08904d813a543202e09 = '&#101;c&#97;b&#101;ll&#111;' + '&#64;' + '&#117;c&#111;l' + '&#46;' + 'mx';document.getElementById('cloakc9fff0bb1d52b08904d813a543202e09').innerHTML += '<a ' + path + '\'' + prefix + ':' + addyc9fff0bb1d52b08904d813a543202e09 + '\'>'+addy_textc9fff0bb1d52b08904d813a543202e09+'<\/a>';
		</script></td>
<td style="text-align: center;">M. en C. Margarita Glenda Mayoral Baldivia<br /> <strong>Responsable de práctica, estancia profesional, EGEL</strong><br /> <span id="cloake07cfabd6c8c33de844eda7a87e57dbd">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
				document.getElementById('cloake07cfabd6c8c33de844eda7a87e57dbd').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addye07cfabd6c8c33de844eda7a87e57dbd = 'mgl&#101;nd&#97;' + '&#64;';
				addye07cfabd6c8c33de844eda7a87e57dbd = addye07cfabd6c8c33de844eda7a87e57dbd + '&#117;c&#111;l' + '&#46;' + 'mx';
				var addy_texte07cfabd6c8c33de844eda7a87e57dbd = 'mgl&#101;nd&#97;' + '&#64;' + '&#117;c&#111;l' + '&#46;' + 'mx';document.getElementById('cloake07cfabd6c8c33de844eda7a87e57dbd').innerHTML += '<a ' + path + '\'' + prefix + ':' + addye07cfabd6c8c33de844eda7a87e57dbd + '\'>'+addy_texte07cfabd6c8c33de844eda7a87e57dbd+'<\/a>';
		</script></td>
<td style="text-align: center;">D. en C. Pedro Damián Reyes<br /><strong>Responsable de educación continua</strong><br /> <span id="cloak8e084cc6c50452de6754fe507c7c614c">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
				document.getElementById('cloak8e084cc6c50452de6754fe507c7c614c').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy8e084cc6c50452de6754fe507c7c614c = 'd&#97;m&#105;&#97;n' + '&#64;';
				addy8e084cc6c50452de6754fe507c7c614c = addy8e084cc6c50452de6754fe507c7c614c + '&#117;c&#111;l' + '&#46;' + 'mx';
				var addy_text8e084cc6c50452de6754fe507c7c614c = 'd&#97;m&#105;&#97;n' + '&#64;' + '&#117;c&#111;l' + '&#46;' + 'mx';document.getElementById('cloak8e084cc6c50452de6754fe507c7c614c').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy8e084cc6c50452de6754fe507c7c614c + '\'>'+addy_text8e084cc6c50452de6754fe507c7c614c+'<\/a>';
		</script></td>
</tr>
<tr>
<td style="text-align: center;">D. en C. Jorge Rafael Gutiérrez Pulido<br /><strong>Responsable de seguimiento de egresados</strong><br /><span id="cloak3bdb911ab7f50fdd6dc68a65f847d2ee">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
				document.getElementById('cloak3bdb911ab7f50fdd6dc68a65f847d2ee').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy3bdb911ab7f50fdd6dc68a65f847d2ee = 'jrgp' + '&#64;';
				addy3bdb911ab7f50fdd6dc68a65f847d2ee = addy3bdb911ab7f50fdd6dc68a65f847d2ee + '&#117;c&#111;l' + '&#46;' + 'mx';
				var addy_text3bdb911ab7f50fdd6dc68a65f847d2ee = 'jrgp' + '&#64;' + '&#117;c&#111;l' + '&#46;' + 'mx';document.getElementById('cloak3bdb911ab7f50fdd6dc68a65f847d2ee').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy3bdb911ab7f50fdd6dc68a65f847d2ee + '\'>'+addy_text3bdb911ab7f50fdd6dc68a65f847d2ee+'<\/a>';
		</script></td>
<td style="text-align: center;">D. en C. Juan Antonio Guerrero Ibáñez<br /> <strong> Responsable del programa de becas</strong><br /> <span id="cloak1444a30e1b43c0b38549c2cfc9ec2f38">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
				document.getElementById('cloak1444a30e1b43c0b38549c2cfc9ec2f38').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy1444a30e1b43c0b38549c2cfc9ec2f38 = '&#97;nt&#111;n&#105;&#111;_g&#117;&#101;rr&#101;r&#111;' + '&#64;';
				addy1444a30e1b43c0b38549c2cfc9ec2f38 = addy1444a30e1b43c0b38549c2cfc9ec2f38 + '&#117;c&#111;l' + '&#46;' + 'mx';
				var addy_text1444a30e1b43c0b38549c2cfc9ec2f38 = '&#97;nt&#111;n&#105;&#111;_g&#117;&#101;rr&#101;r&#111;' + '&#64;' + '&#117;c&#111;l' + '&#46;' + 'mx';document.getElementById('cloak1444a30e1b43c0b38549c2cfc9ec2f38').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy1444a30e1b43c0b38549c2cfc9ec2f38 + '\'>'+addy_text1444a30e1b43c0b38549c2cfc9ec2f38+'<\/a>';
		</script></td>
<td style="text-align: center;">D. en C. Buenrostro Mariscal Raymundo<br /><strong>Responsable de becas de manutención</strong><br /><span id="cloak5dbf7eb0fabb3735eba29161fcdc39cb">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
				document.getElementById('cloak5dbf7eb0fabb3735eba29161fcdc39cb').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy5dbf7eb0fabb3735eba29161fcdc39cb = 'r&#97;ym&#117;nd&#111;' + '&#64;';
				addy5dbf7eb0fabb3735eba29161fcdc39cb = addy5dbf7eb0fabb3735eba29161fcdc39cb + '&#117;c&#111;l' + '&#46;' + 'mx';
				var addy_text5dbf7eb0fabb3735eba29161fcdc39cb = 'r&#97;ym&#117;nd&#111;' + '&#64;' + '&#117;c&#111;l' + '&#46;' + 'mx';document.getElementById('cloak5dbf7eb0fabb3735eba29161fcdc39cb').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy5dbf7eb0fabb3735eba29161fcdc39cb + '\'>'+addy_text5dbf7eb0fabb3735eba29161fcdc39cb+'<\/a>';
		</script></td>
<td style="text-align: center;">D. Ed. Antonio Ordaz Carrillo<br /><strong>Responsable de Exani II, becas de excelencia,</strong><br /><span id="cloak29d4f544d00e066d9c9ebdc620a4514a">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
				document.getElementById('cloak29d4f544d00e066d9c9ebdc620a4514a').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy29d4f544d00e066d9c9ebdc620a4514a = '&#97;&#111;rd&#97;z' + '&#64;';
				addy29d4f544d00e066d9c9ebdc620a4514a = addy29d4f544d00e066d9c9ebdc620a4514a + '&#117;c&#111;l' + '&#46;' + 'mx';
				var addy_text29d4f544d00e066d9c9ebdc620a4514a = '&#97;&#111;rd&#97;z' + '&#64;' + '&#117;c&#111;l' + '&#46;' + 'mx';document.getElementById('cloak29d4f544d00e066d9c9ebdc620a4514a').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy29d4f544d00e066d9c9ebdc620a4514a + '\'>'+addy_text29d4f544d00e066d9c9ebdc620a4514a+'<\/a>';
		</script></td>
</tr>
<tr>
<td style="text-align: center;">M. en C. Gaspar Cruz Carlos Fidel<br /><strong>Responsable de certificación ISO 9000</strong><br /><span id="cloak1e1155cd08591a90a97c5cdb8b50beeb">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
				document.getElementById('cloak1e1155cd08591a90a97c5cdb8b50beeb').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy1e1155cd08591a90a97c5cdb8b50beeb = 'c&#97;rl&#111;s.g&#97;sp&#97;r' + '&#64;';
				addy1e1155cd08591a90a97c5cdb8b50beeb = addy1e1155cd08591a90a97c5cdb8b50beeb + '&#117;c&#111;l' + '&#46;' + 'mx';
				var addy_text1e1155cd08591a90a97c5cdb8b50beeb = 'c&#97;rl&#111;s.g&#97;sp&#97;r' + '&#64;' + '&#117;c&#111;l' + '&#46;' + 'mx';document.getElementById('cloak1e1155cd08591a90a97c5cdb8b50beeb').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy1e1155cd08591a90a97c5cdb8b50beeb + '\'>'+addy_text1e1155cd08591a90a97c5cdb8b50beeb+'<\/a>';
		</script></td>
<td style="text-align: center;">M. en C. Aaron Vázquez Godina <br /> <strong>Responsable de visitas guiadas</strong> <br /><span id="cloak030f3f9aa81a36167194eb540ec48b10">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
				document.getElementById('cloak030f3f9aa81a36167194eb540ec48b10').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy030f3f9aa81a36167194eb540ec48b10 = 'l&#97;&#97;&#97;r&#111;n' + '&#64;';
				addy030f3f9aa81a36167194eb540ec48b10 = addy030f3f9aa81a36167194eb540ec48b10 + '&#117;c&#111;l' + '&#46;' + 'mx';
				var addy_text030f3f9aa81a36167194eb540ec48b10 = 'l&#97;&#97;&#97;r&#111;n' + '&#64;' + '&#117;c&#111;l' + '&#46;' + 'mx';document.getElementById('cloak030f3f9aa81a36167194eb540ec48b10').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy030f3f9aa81a36167194eb540ec48b10 + '\'>'+addy_text030f3f9aa81a36167194eb540ec48b10+'<\/a>';
		</script></td>
<td style="text-align: center;">D. en C. Erika Margarita Ramos Michel<br /> <strong>Responsable de Tutorías</strong> <br /> <span id="cloakb36699c76c6bac5a9f6bc8f39bd57c35">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
				document.getElementById('cloakb36699c76c6bac5a9f6bc8f39bd57c35').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addyb36699c76c6bac5a9f6bc8f39bd57c35 = 'r&#97;m&#101;m' + '&#64;';
				addyb36699c76c6bac5a9f6bc8f39bd57c35 = addyb36699c76c6bac5a9f6bc8f39bd57c35 + '&#117;c&#111;l' + '&#46;' + 'mx';
				var addy_textb36699c76c6bac5a9f6bc8f39bd57c35 = 'r&#97;m&#101;m' + '&#64;' + '&#117;c&#111;l' + '&#46;' + 'mx';document.getElementById('cloakb36699c76c6bac5a9f6bc8f39bd57c35').innerHTML += '<a ' + path + '\'' + prefix + ':' + addyb36699c76c6bac5a9f6bc8f39bd57c35 + '\'>'+addy_textb36699c76c6bac5a9f6bc8f39bd57c35+'<\/a>';
		</script></td>
<td>&nbsp;</td>
</tr>
<tr>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><th colspan="4" class="blue"><span class="fa fa-users"> RESPONSABLES DE LABORATORIO</span></th></tr>
<tr>
<td style="text-align: center;">Ing. Manzanilla Aznarez Jorge Gerardo<br /><span id="cloak996f555f672a4e69ffac518796a7e4c0">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
				document.getElementById('cloak996f555f672a4e69ffac518796a7e4c0').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy996f555f672a4e69ffac518796a7e4c0 = '&#97;zn&#97;r&#101;z' + '&#64;';
				addy996f555f672a4e69ffac518796a7e4c0 = addy996f555f672a4e69ffac518796a7e4c0 + '&#117;c&#111;l' + '&#46;' + 'mx';
				var addy_text996f555f672a4e69ffac518796a7e4c0 = '&#97;zn&#97;r&#101;z' + '&#64;' + '&#117;c&#111;l' + '&#46;' + 'mx';document.getElementById('cloak996f555f672a4e69ffac518796a7e4c0').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy996f555f672a4e69ffac518796a7e4c0 + '\'>'+addy_text996f555f672a4e69ffac518796a7e4c0+'<\/a>';
		</script></td>
<td style="text-align: center;">M. en C. Gaspar Cruz Carlos Fidel<br /><span id="cloak2943b2651cddf9c90efd6d5f81482b90">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
				document.getElementById('cloak2943b2651cddf9c90efd6d5f81482b90').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy2943b2651cddf9c90efd6d5f81482b90 = 'c&#97;rl&#111;s.g&#97;sp&#97;r' + '&#64;';
				addy2943b2651cddf9c90efd6d5f81482b90 = addy2943b2651cddf9c90efd6d5f81482b90 + '&#117;c&#111;l' + '&#46;' + 'mx';
				var addy_text2943b2651cddf9c90efd6d5f81482b90 = 'c&#97;rl&#111;s.g&#97;sp&#97;r' + '&#64;' + '&#117;c&#111;l' + '&#46;' + 'mx';document.getElementById('cloak2943b2651cddf9c90efd6d5f81482b90').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy2943b2651cddf9c90efd6d5f81482b90 + '\'>'+addy_text2943b2651cddf9c90efd6d5f81482b90+'<\/a>';
		</script></td>
<td style="text-align: center;">Lic. Inf. Julio Cesar Marquez Jimenez<br /><span id="cloak0e7059668921a88ff1386d1f5bc72300">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
				document.getElementById('cloak0e7059668921a88ff1386d1f5bc72300').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy0e7059668921a88ff1386d1f5bc72300 = 'j&#117;l&#105;&#111;c_m&#97;rq&#117;&#101;z' + '&#64;';
				addy0e7059668921a88ff1386d1f5bc72300 = addy0e7059668921a88ff1386d1f5bc72300 + '&#117;c&#111;l' + '&#46;' + 'mx';
				var addy_text0e7059668921a88ff1386d1f5bc72300 = 'j&#117;l&#105;&#111;c_m&#97;rq&#117;&#101;z' + '&#64;' + '&#117;c&#111;l' + '&#46;' + 'mx';document.getElementById('cloak0e7059668921a88ff1386d1f5bc72300').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy0e7059668921a88ff1386d1f5bc72300 + '\'>'+addy_text0e7059668921a88ff1386d1f5bc72300+'<\/a>';
		</script></td>
<td style="text-align: center;">&nbsp;</td>
</tr>
<tr>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">&nbsp;</td>
</tr>
<tr><th colspan="4" class="blue"><strong><span class="fa fa-users"> SECRETARIAS </span></strong></th></tr>
<tr>
<td style="text-align: center;">Aguayo Dimas Silvia Leticia<br />ext 37801</td>
<td style="text-align: center;">Campos Llerenas Carmen Leticia<br /> ext. 37801</td>
<td style="text-align: center;">Chavez Trillo Luz Aida <br /> ext 37801</td>
<td style="text-align: center;">García Vázquez Itza María De J.<br /> ext 37801</td>
</tr>
<tr>
<td style="text-align: center;">Juarez Garcia Ma. Mercedes<br /> ext 37801</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>	</div>

{% endblock %}