{% extends "base.njk" %}

{% block main %}
    <h4>Reglamento</h4>

    <div class="reglamentos">
        <img class="materialboxed" src="img/reglamento/reglamento1.jpg">
        <img class="materialboxed" src="img/reglamento/reglamento2.jpg">
    </div>

    <script type="application/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        const elems = document.querySelectorAll('.materialboxed');
        const instances = M.Materialbox.init(elems);
      });
    </script>
{% endblock %}