<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Hegar" />
    <meta name="robots" content="index"/>
    <meta name="robots" content="follow"/>

    <title>{{meta.title}}</title>
    <link rel="stylesheet" href="/material.css">
</head>
<body>
    <header>
        <h1>Header</h1>
    </header>
    <main>
        {% block main %}
            
        {% endblock %}
    </main>
    <footer>
        <h1>Footer</h1>
    </footer>

    <script src="/material.js" type="application/javascript"></script>
</body>
</html>